<div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 1px; background: #08003c;">
    <mat-toolbar [ngClass]="['corAzulPadrao', 'fonteBranca']" *ngIf="!sessaoService.isUsuarioLogado">
        <div fxLayout="row" fxLayoutAlign="center" fxFlex>
          
          <div fxLayout="row" fxLayoutAlign="center">
              <div >
                  <img [src]="getLogoCartaoAmigo()" class="imagem" style="width: 178px;"/>
              </div>
          </div>
        
        </div>
      </mat-toolbar>  
</div>

<mat-sidenav-container [ngStyle]="{'padding-top.rem': 1}" 
                       class="img-background"
                       style="height: -webkit-fill-available;">
    
    <div fxLayout="row" fxLayoutAlign="center center" >
        <form #formulario="ngForm" 
              [ngStyle.md]="{'max-width.%': 35}"
              [ngStyle.sm]="{'width.%': 90}"
              [ngStyle.xs]="{'width.%': 90}"
              style="background: white; padding: 31px; border-radius: 16px; margin-top: 40px;">

             <div class="p-3">
                <div fxLayoutAlign="center center" style="width: 100%; padding-bottom: 15px;">
                    <img [src]="imagemLogin()" [ngStyle]="{'width.%': isMobile() ? 70 : 30}">
                </div>
                
                <div *ngIf="!emailEnviado; else divEmailEnviado">
                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                        <span style="font-weight: bold;" [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                             Redefinição de senha
                         </span>    
                     </div>
     
                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                         <span style="font-weight: bold; color: #d76d36;"
                               [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                             Esqueceu sua senha?
                         </span>    
                     </div>
      
                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                         <span style="font-weight: bold; text-align: center;" 
                               [ngStyle]="{'font-size.px': isMobile() ? 14 : 20, 'width.%': isMobile() ? 100 : 90}">
                             Informe seu e-mail cadastrado e siga as instruções que serão enviadas para a redefir sua senha.
                         </span>    
                     </div>
                     
                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                         <mat-form-field [ngStyle.xs]="{'width.%': 100}"
                                         [ngStyle.sm]="{'width.%': 70}"
                                         [ngStyle]="{'width.%': 50}"
                                         >
                            <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color" matInput>email</mat-icon>                          
                            <input matInput fxFlexOffset="20px"
                                   type="email" 
                                   name="email"
                                   email
                                   [(ngModel)]="email" 
                                   placeholder="Digite seu e-mail cadastrado"
                                   required>
                        </mat-form-field>
                     </div>
     
                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                         <button mat-raised-button
                                 class="mat-elevation-z6"
                                 (click)="redefinir()"
                                 [disabled]="formulario.invalid"
                                 style="margin-top: 15px;">
                                 Redefinir senha
                         </button>
                     </div>
                </div>

                <ng-template #divEmailEnviado>
                    <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                        <span style="font-weight: bold;" [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                            Enviamos um link para seu e-mail
                         </span>    
                     </div>

                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                        <span style="font-weight: bold; text-align: center; color: #d76d36;" 
                              [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                            Você receberá um link para a redefinição de sua senha.
                         </span>    
                     </div>

                     <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                        <span style="text-align: center; " 
                              [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                              Caso não tenha chegado, confira sua caixa de spam.
                         </span>    
                     </div>
                </ng-template>

                 <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 15px;">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color" matInput>login</mat-icon>  
                    <a href="/login">Tela de Login</a>
                 </div>

             </div>
        </form>    
    </div>

</mat-sidenav-container>