<mat-toolbar [ngClass]="['corAzulPadrao', 'fonteBranca']" >
      <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        
        <a href="/" fxLayout="row" fxLayoutAlign="center" fxFlex="20">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <img [src]="getLogoCartaoAmigo()" class="imagem" style="width: 178px;"/>
            </div>
        </a>

        <div fxLayout="row" fxLayoutAlign="center" fxFlex [fxHide]="isNotMobile()">
            <span style="padding-top: 7px;">Acreditamos que saúde e bem-estar é um direito de todos.</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="20">
            <app-fullscreen></app-fullscreen> 
        </div>
        
      </div>

      <div fxLayout="row" fxLayoutAlign="center" fxFlex="20"></div>
</mat-toolbar>

<mat-sidenav-container class="h-100 img-background"
                       style="height: -webkit-fill-available;" >
    
    <div fxLayout="row" fxLayoutAlign="center center" class="h-90">
        <form #formulario="ngForm" 
              fxFlex="90" 
              fxFlex.gt-sm="40" 
              fxFlex.sm="60" 
              style="background: white; padding: 31px; border-radius: 16px;">

             <div class="p-3">
                <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px;">
                    <span style="font-weight: bold; color: #d76d36;"
                          [ngStyle]="{'font-size.px': isMobile() ? 20 : 20}">
                          VALIDAR CARTÃO
                    </span>    
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 15px;">                        
                    <mat-form-field fxFlex="100%" fxLayoutGap="20px" fxFlexOffset="10px"
                                    appearance="outline">
                        <input matInput
                               name="numero_cartao"
                               placeholder="Número do cartão"
                               maxlength="20"
                               (change)="upperCaseTexto()"
                               required
                               [(ngModel)]="numerocartao">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 15px;">                        
                    <div ngModelGroup="comboclinica" fxFlex="100%" fxLayoutGap="20px" fxFlexOffset="10px">
                        <combo-pesquisavel-outline #comboclinicas
                                           nome="comoClinicas" 
                                           [itens]="clinicas" 
                                           itemDescricao="nomeFantasia"
                                           itemId="id"
                                           [showDisplayId]="false" 
                                           [obrigatorio]="true"
                                           label="Nome fantasia da Clínica"
                                           placeholder="Nome fantasia da Clínica"
                                           [(valor)]="clinicaSelecionada"
                                           (valorChange)="onChangeClinica($event)">
                        </combo-pesquisavel-outline>
                    </div>
                 </div>

                 <div fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 15px;">                        
                    <div ngModelGroup="comboclinicasTipoEspecialidade" fxFlex="100%" fxLayoutGap="20px" fxFlexOffset="10px">
                        <combo-pesquisavel-outline #comboclinicasTipoEspecialidade
                                           nome="clinicasTipoEspecialidade" 
                                           [itens]="clinicasTipoEspecialidades" 
                                           itemDescricao="descricaoEspecialidade"
                                           itemId="id"
                                           [showDisplayId]="false" 
                                           [obrigatorio]="true"
                                           label="Especialidades"
                                           placeholder="Especialidades"
                                           [(valor)]="clinicasTipoEspecialidadeSelecionada">
                        </combo-pesquisavel-outline>
                    </div>
                 </div>

                 <div fxLayout="row" fxLayoutAlign="center center" *ngIf="formulario.invalid && formulario.touched">                        
                    <label class="labelRequired">Todos os campos são obrigatórios.</label>       
                 </div>

                 <div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 15px; padding-top: 15px;">                    
                    <button mat-raised-button
                            class="mat-elevation-z6 w-100 mt-3"
                            (click)="getValidacaoCarteirinha()"
                            [disabled]="formulario.invalid"
                            style="margin-top: 15px;">
                            VALIDAR CARTÃO
                    </button>
                 </div>
 
             </div>
        </form>    
    </div>

</mat-sidenav-container>

