<mat-toolbar><div style="width: 100%; text-align: center;">Minha Conta</div></mat-toolbar>
<div class="painel-principal" style="padding: 10px;">
    <div *ngIf="loadingComplete">
        <form #formulario="ngForm" >
            <mat-tab-group animationDuration="1000ms" (selectedTabChange)="tabChange($event)">
                <mat-tab label="Dados Titular">
                    <div ngModelGroup="mgTitular" class="espaco">
                        <formulario-titular [desabilitarCampos]="true" [titular]="titular"></formulario-titular>
                    </div>
                </mat-tab>
    
                <mat-tab label="Dependentes">
                    <div ngModelGroup="mgDependentes" class="espaco">
                        <formulario-dependente [desabilitarCampos]="false" [titular]="titular" [perfilAcesso]="perfilAcesso"></formulario-dependente>
                    </div>
                </mat-tab>

                <mat-tab label="Nova Assinatura">
                    <div ngModelGroup="mgRenovarAssinatura" class="espaco">
                        <renovar-assinatura [cartoes]="cartoes" [titular]="titular" [historicoPagamentos]="historicoPagamentos" [perfilAcesso]="perfilAcesso"></renovar-assinatura>
                    </div>
                </mat-tab>
    
                <mat-tab label="Histórico de Assinaturas">
                    <div ngModelGroup="mgHistoricoPagamento" class="espaco">
                        <formulario-historico-pagamento [titular]="titular" [cartoes]="cartoes" [perfilAcesso]="perfilAcesso" [assinaturaAtiva]="assinaturaAtiva" [historicoPagamentos]="historicoPagamentos" [ocultarColunas]="true"></formulario-historico-pagamento>
                    </div>
                </mat-tab>

                <mat-tab label="Consultas Realizadas">
                    <div ngModelGroup="mgConsultasRealizadas" class="espaco">
                        <formulario-consultas-realizadas [procedimentos]="procedimentos"></formulario-consultas-realizadas>
                    </div>
                </mat-tab>

                <mat-tab label="Carteira">
                    <div ngModelGroup="mgCarteira" class="espaco">
                        <formulario-carteiras [titular]="titular" [cartoes]="cartoes" [perfilAcesso]="perfilAcesso"></formulario-carteiras>                        
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>

        <div fxLayout="row" fxLayout.xs="column" style="margin-top: 30px; margin-bottom: 10px;" 
             *ngIf="showBotaoSalvar">
            <div fxFlex="100%" fxLayoutAlign="start start" style="padding-top: 20px;">
                <button mat-raised-button 
                        fxFlexOffset="20px"
                        class="corAzulPadrao"
                        [ngStyle]="{'width.px': 240}"
                        [ngStyle.xs]="{'width.%': 100}"                        
                        [disabled]="isPermissaoApenasConsulta() || formulario.invalid"
                        (click)="salvar()"  
                        matTooltip="Salvar">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>
