::-webkit-scrollbar {
    width: 8px;
    height: 0px !important;
}

.mat-dialog-actions {
    padding: 29px 0 !important;
}    

.mat-cell {
   font-size: 11px;
}

.botaoCancelarAssinatura {
    background-color: #f97212;
    color: white;
}