<mat-toolbar><div style="width: 100%; text-align: center;">Usuários do Sistema</div></mat-toolbar>
<div class="painel-principal" style="padding: 10px;">
    <div class="painel-consultar">
        <form #formulario="ngForm">
 
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlexFill>
                <div fxLayout="column" ngModelGroup="mdComboUsuario" fxFlex="100%">
                    <mat-toolbar class="toolbarFormulario"><div style="width: 100%; text-align: left;">Usuário/Associado</div></mat-toolbar>
                    <combo-pesquisavel #cbUsuarios
                                        nome="usuario" 
                                        [itens]="usuariosCombo" 
                                        itemDescricao="nome"
                                        itemId="id"
                                        [showDisplayId]="false" 
                                        [obrigatorio]="false"
                                        placeholder="Nome"
                                        [(valor)]="filtro.usuario">
                    </combo-pesquisavel>                    
                </div> 
            </div> 
            
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlexFill>    
                <div fxLayout="column">
                    <mat-toolbar class="toolbarFormulario"><div style="width: 100%; text-align: center;">Data Cadastro</div></mat-toolbar>
                    <div fxFlex="100" fxLayoutGap="16px" fxFlexFill>
                        <mat-form-field [ngStyle]="{'width.px': 200}"
                                        [ngStyle.xs]="{'width.%': 100}">
                            <input matInput 
                                    name= "dataInicioCadastro"
                                    [matDatepicker]="pickerDataInicioCadastro" 
                                    placeholder="Data Início" 
                                    [(ngModel)]="filtro.dataInicioCadastro"
                                    (input)="onMascaraDataInput($event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerDataInicioCadastro"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDataInicioCadastro></mat-datepicker>
                        </mat-form-field>
                    
                        <mat-form-field fxFlexOffset="20px"
                                        [ngStyle]="{'width.px': 200}"
                                        [ngStyle.xs]="{'width.%': 100}">
                            <input matInput name="dataFimCadastro"
                                [matDatepicker]="pickerDataFimCadastro" 
                                placeholder="Data Fim" 
                                [(ngModel)]="filtro.dataFimCadastro"
                                (input)="onMascaraDataInput($event)">
                            <mat-datepicker-toggle matSuffix [for]="pickerDataFimCadastro"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDataFimCadastro></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="column" [ngStyle]="{'padding-left.px': 20}">
                    <mat-toolbar class="toolbarFormulario"><div style="width: 100%; text-align: left;">Ativo</div></mat-toolbar>                    
                    <mat-form-field [ngStyle]="{'width.px': 200}"
                                    [ngStyle.xs]="{'width.%': 100}">
                        <mat-label>Escolha</mat-label>
                        <mat-select [(ngModel)]="filtro.ativo" name="ativo">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
                                {{m.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                        
                </div> 
            </div> 


            <div dir="rtl" class="botoes" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 20px;" fxFlexFill>
                <button mat-raised-button (click)="consultar()">
                    CONSULTAR
                </button>

                <button mat-raised-button style="padding-right: 20px" (click)="limpar()" route>
                    LIMPAR
                </button>
            </div>
        </form>
        
        
        <div fxLayout="row" *ngIf="perfilAcesso.insere" fxLayoutAlign="end center" fxLayoutGap="16px" style="padding-top: 10px">
            <div>
                <button matTooltip="Adicionar novo usuário" mat-fab 
                        style="background-color: #d76d36"
                        (click)="showDialogNew()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <table mat-table [hidden]="!mostrarTabela" 
                         [dataSource]="dataSource" 
                         class="mat-elevation-z6"
                         matSort style="margin-top: 20px">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.nome.toUpperCase()}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.cpf | cpf}}</td>
            </ng-container>

            <ng-container matColumnDef="dataCadastro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data do Cadastro </th>
                <td mat-cell *matCellDef="let element"> {{element.dataCadastro | dataComHora}}</td>
            </ng-container>

            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo</th>
                <td mat-cell *matCellDef="let element"> {{element.ativo ? 'Sim': 'Não'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="descTipoUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Usuário </th>
                <td mat-cell *matCellDef="let element"> {{element.descTipoUsuario.replace('_', ' ')}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="perfilAcesso.deleta" [disabled]="element.descTipoUsuario.startsWith('ASSOCIADO')" mat-button (click)="deletar(element)">
                        <mat-icon style="color: red">delete_forever</mat-icon>
                    </button>
                    <button *ngIf="perfilAcesso.consulta" mat-button (click)="atualizar(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div [hidden]="!mostrarTabela">
            <mat-paginator class="mat-elevation-z6" #paginator [pageSizeOptions]="[20, 40, 60, 80, 100]" showFirstLastButtons></mat-paginator>
        </div>

        <div [hidden]="mostrarTabela">
            <div fxLayout="row" 
                 [ngClass]="{'mat-elevation-z6': mostrarTabela}" 
                 fxLayoutAlign="center center" 
                 style="padding-top: 20px">
                {{msg}}
            </div>
        </div>
        
    </div>
</div>

