@use '~@angular/material' as mat;
$gray-light-primary: mat.define-palette(mat.$gray-palette, 700, 50, 800);
$gray-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$gray-light-warn: mat.define-palette(mat.$red-palette, 500);

$gray-light-theme: mat.define-light-theme($gray-light-primary, $gray-light-accent, $gray-light-warn);