@use '~@angular/material' as mat;
$pink-dark-primary: mat.define-palette(mat.$pink-palette, 700, 50, 800);
$pink-dark-accent: mat.define-palette(mat.$blue-grey-palette, 600, 300, 900);
$pink-dark-warn: mat.define-palette(mat.$red-palette, A200);

$pink-dark-theme: mat.define-dark-theme($pink-dark-primary, $pink-dark-accent, $pink-dark-warn);