@use '~@angular/material' as mat;
$red-light-primary: mat.define-palette(mat.$red-palette, 700, 50, 800);
$red-light-accent: mat.define-palette(mat.$green-palette, 600, 300, 900);
$red-light-warn: mat.define-palette(mat.$deep-orange-palette, A400);

$red-light-theme: mat.define-light-theme($red-light-primary, $red-light-accent, $red-light-warn);