@use '~@angular/material' as mat;
$teal-light-primary: mat.define-palette(mat.$teal-palette, 700, 50, 800);
$teal-light-accent: mat.define-palette(mat.$deep-orange-palette, 600, A400, 900);
$teal-light-warn: mat.define-palette(mat.$red-palette, 600);

$teal-light-theme: mat.define-light-theme($teal-light-primary, $teal-light-accent, $teal-light-warn);