.tela-login{
    width: 30%
}


/*
.logo{
    background: url(../../../assets/imagens/LOGO_CARTAO_AMIGO-V2.1-SEM-FUNDO.png) no-repeat 0 0;
}

.painel-logo{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
   
    width: 76%;
    height: 70px;
    margin: auto;
    
  }
*/
