<mat-sidenav-container class="h-100" style="background: #1d1c3b;">

    <mat-toolbar [ngClass]="['corAzulPadrao', 'fonteBranca']">
      <div fxLayout="row" fxLayoutAlign="center" fxFlex>
        
        <div fxLayout="row" fxLayoutAlign="center" fxFlex="20">
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <a routerLink="/login">
                    <img [src]="getLogoCartaoAmigo()" class="imagem" style="width: 178px;"/>
                </a>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" fxFlex [fxHide]="isNotMobile()">
            <span style="padding-top: 7px;">Acreditamos que saúde e bem-estar é um direito de todos.</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" fxFlex="20"></div>
        
      </div>
    </mat-toolbar>
    
    
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 40px;">
        <form #formulario="ngForm" 
              fxFlex="90" 
              fxFlex.gt-sm="75" 
              fxFlex.md="81" 
              fxFlex.sm="85" 
              fxFlex.xs="95" 
              style="background: white; padding: 0px; border-radius: 15px;">

             <div class="p-3">
                <formulario-associado></formulario-associado>            
            </div>
        </form>        
    </div>
</mat-sidenav-container>


<!--
    xs      -> celulares
    sm      -> ipad
    md      -> desktop
    lg     |
    lt-xl  | -> monitores grandes
    xl     | 
-->
