.mat-dialog-actions {
    padding: 29px 0 !important;
}    

.mat-dialog-container {
    padding: 5px !important;
}

.styleLegenda {
    color: #f95f00;
    font-weight: bolder;
    padding: 7px;
}

.styleFieldSet {
    padding-left: 8px;
}

.fontBold{
    font-weight: bold;
}