.mat-simple-snackbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    line-height: 20px;
    opacity: 1
  }
  
  .mat-simple-snackbar-action {
    flex-shrink: 0;
    margin: -8px -8px -8px 8px
  }
  
  .mat-simple-snackbar-action button {
    max-height: 36px;
    min-width: 0
  }
  
  [dir=rtl] .mat-simple-snackbar-action {
    margin-left: -8px;
    margin-right: 8px
  }
  
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
  