.botaoHabilitado {
    background: #d76d36 !important; color: white;
}

.botaoDesabilitado {
    background: #bebebd; color: rgb(68, 65, 65);
}


.styleLegenda {
    color: #f95f00;
    font-weight: bolder;
    padding: 7px;
}

.styleFieldSet {
    padding-left: 8px;
}


.readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}